
@{
    ViewBag.Title = "Hakkımızda";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


<!-- .entry-content -->
<div class="entry-content">
    <br />
    <h3><b>Biz Kimiz?</b></h3><br />
		<p>
        Buraya yazı gelebilir.
		</p><br />
    <h3><b>Ufkumuz</b></h3><br />
    <p>
        Buraya yazı gelebilir.
    </p><br />
    <h3><b>Stratejilerimiz</b></h3><br />
    <p>
        Buraya yazı gelebilir.
    </p><br />
    <ul>
        <li>
            Buraya yazı gelebilir.
        </li>
        <li>
            Buraya yazı gelebilir.
        </li>
        <li>
            Buraya yazı gelebilir.
        </li>
        <li>
            Buraya yazı gelebilir.
        </li>
    </ul>
    <br />
    <h3><b>Text, Text, Text</b></h3>


    @*<p>
            <a class="social-link facebook" href="#"></a>
            <a class="social-link twitter" href="#"></a>
            <a class="social-link linkedin" href="#"></a>
            <a class="social-link google-plus" href="#"></a>
            <a class="social-link pinterest" href="#"></a>
            <a class="social-link github" href="#"></a>
            <a class="social-link behance" href="#"></a>
            <a class="social-link dribbble" href="#"></a>
            <a class="social-link instagram" href="#"></a>
            <a class="social-link lastfm" href="#"></a>
            <a class="social-link vine" href="#"></a>
            <a class="social-link rss" href="#"></a>
            <a class="social-link vimeo" href="#"></a>
            <a class="social-link forrst" href="#"></a>
            <a class="social-link skype" href="#"></a>
            <a class="social-link picasa" href="#"></a>
            <a class="social-link youtube" href="#"></a>
            <a class="social-link flickr" href="#"></a>
            <a class="social-link tumblr" href="#"></a>
            <a class="social-link blogger" href="#"></a>
            <a class="social-link delicious" href="#"></a>
            <a class="social-link digg" href="#"></a>
            <a class="social-link wordpress" href="#"></a>
            <a class="social-link stack-overflow" href="#"></a>
            <a class="social-link foursquare" href="#"></a>
            <a class="social-link xing" href="#"></a>
            <a class="social-link weibo" href="#"></a>
            <a class="social-link vkontakte" href="#"></a>
            <a class="social-link soundcloud" href="#"></a>
            <a class="social-link fivehundredpx" href="#"></a>
            <a class="social-link slideshare" href="#"></a>
            <a class="social-link paypal" href="#"></a>
            <a class="social-link spotify" href="#"></a>
        </p>*@


</div>
<!-- .entry-content -->
